In [ ]:
# Create dataframe of data from csv plan. 
import pandas as pd
df: pd.DataFrame = pd.read_csv("toyota.csv")
df

,model,year,price,transmission,mileage,fuelType,mpg,finance_monthly,lease_monthly,horsepower
0,GT86,2016,16000,Manual,24089,Gasoline,36.2,292.25,261.23,197
1,GT86,2017,15995,Manual,18615,Gasoline,36.2,292.16,261.16,197
2,GT86,2015,13998,Manual,27469,Gasoline,36.2,255.68,231.06,197
3,GT86,2017,18998,Manual,14736,Gasoline,36.2,347.01,306.43,197
4,GT86,2017,17498,Manual,36284,Gasoline,36.2,319.61,283.82,197
...,...,...,...,...,...,...,...,...,...,...
6270,IQ,2011,5500,Automatic,30000,Gasoline,58.9,100.46,102.96,68
6271,Urban Cruiser,2011,4985,Manual,36154,Gasoline,50.4,91.05,95.19,100
6272,Urban Cruiser,2012,4995,Manual,46000,Diesel,57.6,91.24,95.34,90
6273,Urban Cruiser,2011,3995,Manual,60700,Gasoline,50.4,72.97,80.27,100
6274,Urban Cruiser,2011,4495,Manual,45128,Gasoline,50.4,82.10,87.81,100

In [6]:
# declaring classes
classes: list[str] = []
# Determine what the pandas Iterator object looks like
for i in df["model"].unique():
  classes.append(i)
classes

['GT86',
 'Corolla',
 'RAV4',
 'Yaris',
 'Auris',
 'Aygo',
 'C-HR',
 'Prius',
 'Avensis',
 'Verso',
 'Hilux',
 'Land Cruiser',
 'Supra',
 'IQ',
 'Urban Cruiser']

In [ ]:
# Show there are 4 transmission types
transmissions: list[str] = []
# Determine what the pandas Iterator object looks like
for i in df["transmission"].unique():
  transmissions.append(i)
transmissions

['Manual', 'Automatic', 'Semi-Auto', 'Other']

In [8]:
from collections import defaultdict
import pandas as pd
df: pd.DataFrame = pd.read_csv('toyota.csv')
temp_mixed_list = []
recommended_models = dict()
for index, row in df.iterrows():
          temp_mixed_list.append(str(row['year']))
          temp_mixed_list.append(str(row['price']))
          temp_mixed_list.append(str(row['transmission']))
          temp_mixed_list.append(str(row['mileage']))
          temp_mixed_list.append(str(row['fuelType']))
          temp_mixed_list.append(str(row['mpg']))
          temp_mixed_list.append(str(row['finance_monthly']))
          temp_mixed_list.append(str(row['lease_monthly']))
          temp_mixed_list.append(str(row['horsepower']))
          recommended_models[tuple(temp_mixed_list)] = str(row['model'])
          temp_mixed_list.clear()
temp_mixed_list

[]